:root {
  --brown: #d5966c;
  --dark: #151515;
  --white: #ffffff;
  --grey: #444444;

  --ff-pri: "Big Shoulders Display";
  --ff-sec: "Outfit";
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  box-sizing: border-box;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin-bottom: 7.5rem;
}

.intro {
  padding: 1rem 1rem 0;
}

.text {
  display: flex;
  flex-direction: column;
}

.main-heading {
  font-family: var(--ff-pri);
  font-weight: 900;
  font-size: 3.75rem;
  line-height: 92%;
  text-transform: uppercase;
  color: var(--dark);
  margin-bottom: 2rem;
}

.main-paragraph {
  font-family: var(--ff-sec);
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 156%;
  color: var(--grey);
  margin-bottom: 2rem;
}

.btn {
  display: flex;
  flex-direction: row-reverse;
  max-width: 16.25rem;
}

.btn-link {
  font-family: var(--ff-pri);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.2272725em;
  color: var(--white);
  text-decoration: none;
  background: var(--dark);
  padding: 1.5rem;
}

.btn-arrow,
.btn-link {
  transition: all 0.3s;
}

.btn-link:hover {
  background: var(--brown);
}

.btn-arrow:hover {
  background: var(--dark);
}

.btn:hover .btn-arrow {
  background: var(--dark);
}

.btn-arrow:hover .btn-link {
  background: var(--brown);
}

.btn-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--brown);
  padding: 1.5em;
}

.images-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  margin-bottom: 7.5rem;
  gap: 1.875rem;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.grid-1-2 {
  display: grid;
  grid-template-areas:
    "img"
    "text";
  gap: 1.5625rem;
}

.gal1 {
  grid-area: text;
  color: var(--white);
  transition: all 0.5s ease-in;
}

.grid-2 {
  grid-area: img;
  background-image: url("assets/mobile/image-grid-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 344px;
}

.grid-1,
.grid-5 {
  max-width: 21.4375rem;
}

.grid-3-5 {
  display: grid;
  gap: 1rem;
}

.grid-3 {
  background-image: url("assets/mobile/image-grid-2.jpg");
  background-repeat: no-repeat;
  min-height: 403px;
  background-size: cover;
}

.grid-5 {
  background: var(--dark);
  padding: 3rem 1.5rem;
}

.day-gal {
  font-family: var(--ff-pri);
  font-weight: 900;
  font-size: 3.125rem;
  line-height: 90%;
  text-transform: uppercase;
  margin-bottom: 1.3125rem;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5 {
  transition: all 0.5s ease-in;
}

.day-gal-p {
  font-family: var(--ff-sec);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 156%;
  color: var(--grey);
}

.galp {
  color: var(--white);
}

.dark-bg {
  display: none;
}

.footer-location {
  background: var(--brown);
}

.location-p {
  font-family: var(--ff-sec);
  font-weight: 400;
  font-size: 1rem;
  line-height: 162%;
  color: var(--dark);
}

footer {
  background: var(--dark);
  padding-block: 3.5rem;
}

footer p {
  font-family: var(--ff-sec);
  font-weight: 400;
  font-size: 1rem;
  line-height: 162%;
  color: var(--white);
  max-width: 23.125rem;
}

.footer-location,
.footer-home {
  padding-inline: 1.25rem;
}

.footer-div {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 69.375rem;
  margin: 0 auto;
}

.icons {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.location {
  background: var(--dark);
  margin: 0 auto;
  padding-inline: 1.25rem;
}

.location-div {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding-block: 2.5rem;
  max-width: 69.375rem;
  margin: 0 auto;
}

.gal1-location {
  margin-bottom: 3rem;
}

.street {
  font-family: var(--ff-pri);
  font-weight: 900;
  font-size: 2rem;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--brown);
  margin-bottom: 1.25rem;
}

.city {
  margin-bottom: 1.25rem;
}

.social-icon {
  transition: all 0.3s;
}

.social-icon:hover {
  filter: invert(67%) sepia(12%) saturate(1381%) hue-rotate(341deg)
    brightness(93%) contrast(94%);
}

.social-icon2:hover {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(15deg) brightness(113%)
    contrast(101%);
}

/* Tablet styles */
@media screen and (min-width: 41.25rem) {
  .hero {
    flex-direction: row;
  }

  .intro {
    position: absolute;
    margin-left: 24.3125rem;
    margin-right: 2.5rem;
    padding: 0;
  }

  .main-heading {
    font-size: 4.375rem;
    line-height: 93%;
    margin-bottom: 3rem;
  }

  .main-paragraph {
    margin-bottom: 3rem;
  }

  .images-grid {
    padding: 0 2.5rem;
    align-items: unset;
  }

  .grid-1-2 {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "text img";
    gap: 4.25rem;
  }

  .grid-1 {
    grid-area: text;
    max-width: 13.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .grid-2 {
    grid-area: img;
    background-image: url("assets/tablet/image-grid-1.jpg");
  }

  .grid-3-5 {
    gap: 0.6875rem;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "bench people"
      "bench dark";
  }

  .grid-3 {
    grid-area: bench;
    background-image: url("assets/tablet/image-grid-2.jpg");
    background-position: center;
  }

  .grid-4 {
    grid-area: people;
  }

  .grid-5 {
    grid-area: dark;
    padding: 5.3125rem 1.75rem;
    max-width: 17.5rem;
  }

  .day-gal {
    margin-bottom: 1.5rem;
  }

  .footer-div {
    flex-direction: row;
    align-items: flex-start;
  }

  .footer-logo {
    width: 6.875rem;
    max-width: none;
  }

  .social-icon {
    width: 1.25rem;
    max-width: none;
  }

  .location {
    margin: 0 auto;
  }

  .footer-location,
  .footer-home {
    padding-inline: 2.5rem;
  }

  .location-div {
    flex-direction: row;
    gap: 6.25rem;
    justify-content: flex-start;
    padding-block: 5.625rem;
  }

  .gal1-location {
    margin-bottom: 0;
  }
}

/* Desktop styles */
@media screen and (min-width: 61rem) {
  .hero {
    margin-bottom: 11.25rem;
  }

  .dark-bg {
    display: block;
    width: 28.125rem;
    min-height: 50rem;
    background: var(--dark);
  }

  .intro {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  .text {
    flex-direction: row;
  }

  .main-heading {
    font-size: 6rem;
    line-height: 92%;
    color: var(--white);
    margin-bottom: 0;
    mix-blend-mode: difference;
    max-width: 32.125rem;
    margin-left: 10.3125rem;
    margin-right: 15.375rem;
  }

  .main-paragraph {
    max-width: 21.875rem;
    font-size: 1.375rem;
    line-height: 145%;
    margin-bottom: 4rem;
  }

  .btn {
    align-self: flex-end;
    position: relative;
    right: 5.625rem;
  }

  .images-grid {
    margin-bottom: 11.25rem;
  }

  .grid-1 {
    max-width: 21.875rem;
  }

  .grid-2 {
    background-image: url("assets/desktop/image-grid-1.jpg");
  }

  .grid-3 {
    background-image: url("assets/desktop/image-grid-2.jpg");
  }

  .grid-3-5 {
    gap: 1.875rem;
  }

  .grid-5 {
    max-width: 27.8125rem;
    padding: 4rem 3rem;
  }

  .day-gal {
    font-size: 3.75rem;
    line-height: 100%;
    margin-bottom: 2rem;
  }

  .day-gal-p {
    font-size: 1.375rem;
    line-height: 145%;
  }

  footer p,
  .location-p {
    font-size: 1.125rem;
    line-height: 156%;
  }

  .footer-logo {
    width: 10rem;
    max-width: none;
  }

  .location-div {
    gap: 13.75rem;
  }

  .street {
    font-size: 2.25rem;
    line-height: 100%;
    margin-bottom: 1.5rem;
  }

  .city {
    margin-bottom: 2rem;
  }
}

.map-container {
  position: relative;
  z-index: 0;
}

.btn-home {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 10%;
}

.btn-link-home {
  padding: 1.5em 1em;
}

#map {
  height: 37.5rem;
  filter: grayscale();
}
